[package]
name = "muropeptide"
version = "0.1.0"
edition = "2021"

[dependencies]
itertools = "0.13.0"
# miette = "7.2.0"
miette = { git = "https://github.com/TheLostLambda/miette" }
nom = "7.1.3"
nom-miette = { path = "../nom-miette" }
polychem = { path = "../polychem" }
smithereens = { path = "../smithereens" }
thiserror = "1.0.59"

[dev-dependencies]
divan = "0.1.14"
insta = { version = "1.38.0", features = ["redactions", "ron"] }
# miette = { version = "7.2.0", features = ["fancy"] }
miette = { git = "https://github.com/TheLostLambda/miette", features = ["fancy"] }
once_cell = "1.19.0"
rust_decimal = "1.35.0"
rust_decimal_macros = "1.34.2"

[[bench]]
name = "api"
harness = false

[lints]
workspace = true
